<main>
    <div class="container mx-auto p-4">
        <h1>{{title}}</h1>
      </div>

   

      <section id="history" class="container mx-auto p-4">
        <h2 class="mb-5 ">Les Origines d'Au Petit Village</h2>

        <div class="md:flex md:flex-row md:items-start md:gap-11">
        <div class="md:w-2/3">
            <p>
          Fondée en 2005 dans le charmant village de Locronan, en Bretagne, 
          <strong>Au Petit Village</strong> est née d'une passion commune pour la bande dessinée et l'artisanat.
          C’est l’initiative de <strong>Marie Le Guen</strong>, sculptrice talentueuse, et de <strong>Paul Morel</strong>, 
          un fervent admirateur de l’univers d’Astérix et Obélix, qui a donné vie à ce projet unique. Ensemble, ils ont décidé de 
          célébrer l’esprit des irréductibles Gaulois en confectionnant des figurines artisanales, alliant tradition et modernité.
        </p>
        
      
     
   
        
        <h2 class="mt-10 mb-5">Un Atelier d'Artisanat Inspiré</h2>
        <p>
          L’atelier, niché au cœur des paysages bretons, s’inspire des valeurs de persévérance et de créativité incarnées par 
          les célèbres héros gaulois. Chaque figurine est sculptée, peinte et assemblée à la main par une petite équipe 
          d’artisans passionnés. Le savoir-faire local occupe une place centrale dans leur démarche, faisant de chaque pièce 
          une œuvre d’art unique. L’attention portée aux détails et aux matériaux a rapidement fait la renommée de l’entreprise 
          auprès des amateurs de bandes dessinées et des collectionneurs.
        </p>
        
        <h2 class="mt-10 mb-5">Un Héritage Transgénérationnel</h2>
        <p>
          Au fil des années, <strong>Au Petit Village</strong> a su évoluer pour répondre aux attentes d’une clientèle jeune et nostalgique, 
          âgée de 30 à 55 ans. L’entreprise s’engage à transmettre l’esprit irréductible des Gaulois à travers ses créations, 
          en célébrant l’humour et les valeurs intemporelles d’Astérix et Obélix. Forte de son succès, elle a également 
          participé à des expositions et collaboré avec des événements dédiés à la bande dessinée. Aujourd’hui, les figurines 
          d’<strong>Au Petit Village</strong> ornent les étagères de milliers de foyers, offrant une touche d’évasion et de bonne humeur.
        </p>

      </div>

        <figure class="mt-5 md:mt-0 md:w-1/3">
          <img 
       src="assets/img/portrait-createurs-au-petit-village.jpg" 
       alt="Portrait des créateurs d'Au Petit Village" 
       class="rounded-lg shadow-lg mx-auto"
     />
     <figcaption class="mt-2 text-gray-600 text-center">
       Marie Le Guen et Paul Morel, créateurs d'Au Petit Village
     </figcaption>
       </figure>
     </div>
      </section>
      


</main>