<main>
    <div class="container mx-auto p-4">
      <h1>{{title}}</h1>

     
  
      <div class="text-box bg-white shadow-lg rounded-lg p-5 mt-8 mx-auto">
        <section class="mb-8">
          <h2>Éditeur du site</h2>
          <p class="mb-4">
            Le présent site est édité par : <strong>Laura Carballo</strong>, résidant au 12 rue des oliviers, 53200 La Roche-Neuville.<br>
            Email : <a href="mailto:jane.doe@gmail.com" class="text-blue-600 hover:underline">jane.doe&#64;gmail.com</a><br>
            SIRET : 8516753710AAA
          </p>
        </section>
  
        <section class="mb-8">
          <h2>Directeur de la publication</h2>
          <p class="mb-4">
            Le directeur de la publication est : <strong>Laura Carballo</strong>.
          </p>
        </section>
  
        <section class="mb-8">
          <h2>Hébergement du site</h2>
          <p class="mb-4">
            Le site est hébergé par la société : <br>
            Octopuce<br>
            25 rue Popincourt, 75011 Paris<br>
            Téléphone : 0606060606
          </p>
        </section>
  
        <section class="mb-8">
          <h2>Propriété intellectuelle</h2>
          <p class="mb-4">
            Images Astérix, Obélix et Panoramix provenant de https://pixabay.com/
          </p>
        </section>
  
        <section class="mb-8">
          <h2>Protection des données personnelles</h2>
          <p class="mb-4">
            Les données personnelles que vous envoyez en vous inscrivant ou en remplissant des formulaires de renseignement, sont traitées par <strong>Laura Carballo</strong> dans le but d'opérations de communication.
          </p>
          <p class="mb-4">
            Seules les personnes habilitées par <strong>Laura Carballo</strong> pourront accéder aux données collectées.
          </p>
        </section>
  
        <section class="mb-8">
          <h2>Droit applicable et attribution de juridiction</h2>
          <p class="mb-4">
            Tout litige en relation avec l’utilisation du site La Roche-Neuville est soumis au droit français.
          </p>
        </section>
  
        <p class="text-sm text-gray-500 mt-4">Dernière mise à jour : <time datetime="2024-11-08">08 novembre 2024</time></p>
      </div>
    </div>
  </main>
  